/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Background Image Styling */
body {
  background-image: url('./SVG Files/untitled_presentation_1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#clearButton {
  position: fixed; 
  top: 50px;
  left: 50px;
  width: 50px; /* Set a fixed width for the button */
  height: 30px; /* Set a fixed height for the button */
  font-size: 14px; /* Set a fixed font size */ 
  background-color: #f44336; /* Red background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* Header Styling */
header {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 20px;
}

/* Navigation Styling */
nav {
  background: #333;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Main Content Styling */
main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

/* Footer Styling */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
